/*!
 * SizeMe input styles specific for PrintMotor
 */

#sizeme_detailed_view_content p.splash_text { 
 font-size: 0.8em;
}

#sizeme_detailed_view_content select {
    max-width: 90%;
    min-width: 50%;
}

#sizeme_detailed_view_content table#detailed_table {
    font-size: 80%;
}

#detailed_view_link a, a.sm_detailed_view {
	text-decoration: none !important;
	background-color: rgb(99, 99, 99);
	background-image: none;
	border: 0px none;
	border-radius: 0px;
	text-transform: uppercase;
	padding: 10px 8px;
	margin: 8px 0px 10px !important;
	color: white !important;	
}

@media (max-width: 830px) {
	#sizeme_detailed_view_content table#detailed_table td {	
		padding: 0;
	}
} 

@media only screen and (max-width: 768px) {
	#sizeme_detailed_view_content {
		text-align: center;
		overflow-x: hidden !important;
	}	
	#sizeme_detailed_view_content .dialog_col { 
		float: none;
		width: 100% !important;
		height: auto;
	}
	#sizeme_detailed_view_content #detailed_table { 
		margin-bottom: 2rem;
	}
	#sizeme_detailed_view_content .splash {
		width: 100%;
		position: static;
	}
	.ui-dialog .ui-dialog-bottombar {	
		position: static;
		display: none;
	}
	#sizeme_detailed_view_content .sizeme_advertisement {
		position: static;
		background-color: #ccc;
		padding-bottom: 2px;
	}
}
