/*!
 * SizeMe input styles specific for Magento
 */
.magnifyarea { z-index: 500; }

/*!
 * SizeMe temporary style for Makia
 */

.sizeme p {
  display: none;
}

select.sizeme-magento-size-selector { margin-bottom: 15px; }